/* styles go here */

.input1,
.input2,
.input3,
.input4 {
  display: block;
  margin-bottom: 10px;
}

.set {
  margin-bottom: 20px;
}

.input1:last-child,
.input2:last-child,
.input3:last-child,
.input4:last-child {
  margin-bottom: 0;
}
